.header {
    line-height: 1.7;
    display: flex;
    flex-direction: row;
    padding: 0 12%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 10px 10px 10px #eee;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    color: #377dd1;
    font-weight: bolder;
    font-family: cursive;
}

.action-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px !important;
}

.action-list-item {
    padding: 1.4rem 2.5rem;
    font-size: 1.1rem;
    color: #666666;
    font-family: cursive;
}

.border-color {
    border-bottom: 3px solid #377dd1;
}

a {
    text-decoration: none;
    color: #377dd1;
}
