.item-container {
    width: 100%;
    border: 1px solid black;
    margin: 4% 0;
    border-radius: 4px;
    box-shadow: blanchedalmond;
}

.item-container-text {
    text-align: center;
    padding: 4px 0;
    font: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.item-container-action {
    display: flex;
    justify-content: space-around;
    padding: 4px 0;
}

.button1 {
    padding: 2px;
}